@import 'variables';


main {
    max-width: 1200px;
    margin: 0 auto;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 10px;
    }

    @media (max-width: 860px) {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 10px;
    }

    @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20px;
    }
}